@page "/"

<PageTitle>Home</PageTitle>
<link rel="stylesheet" src="CanvasAssistantBlazor/wwwroot/app.css" />
<h1 class="homeTitle">Canvas Assistant</h1>

Welcome to your Canvas assistant!

<CanvasAssistantBlazor.Client.Pages.Counter IncrementAmount="3" />

